@font-face {
  font-family: Roboto;
  src: url('~@/assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: Roboto;
  src: url('~@/assets/fonts/Roboto-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url('~@/assets/fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-display: block;
}

html {
  position: relative;
}

html,
body {
  font-family: Roboto;
  min-height: 100%;
  background: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.center {
  text-align: center;
}
